.news-header{
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 10px;
    text-align: center;
}

.img-badge{
    position: absolute;
    top: -7px;
}

.red-label{
    color:red;
    text-align: center;
    font-weight: 900;
}